/* --- Reset --- */

@media all {
	html { overflow-y: auto; }
	body, div, header, main, aside, footer, article, section,
	h1, h2, h3, h4, h5, h6,
	p, blockquote, pre, code,
	ul, ol, li,
	table, th, td,
	form, fieldset, legend, input, textarea {
		padding: 0; margin: 0;
	}

	h1, h2, h3, h4, h5, h6,
	p, blockquote, pre,
	ul, ol {
		margin-bottom: 1em;
	}
	ul, ol { margin-left: 2em; }
	ul ul, ul ol, ol ol, ol ul { margin-bottom: 0; }
	blockquote { margin: 1em 2em; }
} /* --- Ende Reset (@media all)*/

/* --- Desktop --- */

@media screen /*and (min-width: 769px)*/
 {

	/* allgemein */
	/*html, body {
		height: 100%;
	}*/
	body {
		background: #0B0E13;
		color: #F5F5F5;
		font-family: Verdana, Arial, Helvetica, sans-serif;
	}
	a {
		text-decoration: none;
		outline: none;
	}
	a:link {
		color: #00BC51;
	}
	a:focus, a:hover {
		text-decoration: underline;
	}
	a:active {
		color: white;
	}
	a:visited {
		color: #00903E;
	}
 /* Wrapper */
/* 	#wrapper {
	 	min-height: 100%;
	  margin-bottom: -50px;
	}
	#wrapper:after {
		content: "";
		display: block;
		height: 50px;
	} */
/* header */
	#siteheader {
		color: #5E8DDB;
		text-align: center;
		margin: 0;
		line-height: 12vh;
		font-size: 420%;
	}

	/* nav */

	#nav {
		background-color: #708CB2;
		text-align: center;
	}
	#nav ul {
		margin: 0;
		display: flex;
		flex-flow: row;
		list-style-type: none;
	}
	#nav ul li {
		flex: 1;
		border: 4px solid #091B60;
		border-left: 2px solid #091B60;
		border-right: 2px solid #091B60;
	}
	#nav a {
		display: block;
		box-sizing: border-box;
		color: #000;
		font-weight: bold;
		letter-spacing: 1.5px;
		line-height: 6vh;
		vertical-align: middle;

	/*	padding: 18px;*/
	}
	#nav ul li:first-child {
		border-left: 4px solid #091B60;
	}
	#nav ul li:last-child {
		border-right: 4px solid #091B60;
	}
	#nav a:active {
		background-color: #09403A;
		color: #0ED5AA;;
	}
	#nav .level2 {
		display: none;
	}

	/* flex-asmain */

	#flex-asmain {
		display: flex;
		flex-flow: row;
		min-height: 72vh;
                margin-bottom: -0.2em;
	}
	aside {
		flex: 20%;
		order: 2;
		border-left: 4px solid #091B60;
		padding: 20px;
		max-width: 20%;
		hyphens: auto;
	}
	main {
		flex: 80%;
		order: 1;
		padding: 20px;
		min-height: 50px;
		max-width: 80%;
		text-align: justify;
	}
	/* footer */

	footer {
		min-height: 9vh;
		width: 100%;
		border-top: 4px solid #091B60;
		background-color: #7081B2;
		overflow: hidden;
	}

} /* --- Ende Desktop (@media screen) --- */
